<div class="container">
{{help-card help=model.help}}
<h4>
  <i class="material-icons">work</i>
  {{model.item.name}}
</h4>

{{#md-card id=model.item.id}}
    {{#md-card-content}}

    <div class="row">
      <div class="col">
        <p>Kill Chain Phases</p>
        <p>
        {{#if model.item.kill_chain_phases}}
            {{#each model.item.kill_chain_phases as |kill_chain_phase|}}
              <div class="chip">{{kill_chain_phase.phase_name}}</div>
            {{/each}}
        {{/if}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>External References</p>
        <p>
        {{#if model.item.external_references}}
            {{#each model.item.external_references as |external_reference|}}
              <div class="chip">{{external_reference.source_name}}</div>
              {{#if external_reference.url}}
                <a target="_blank" href="{{external_reference.url}}">{{external_reference.external_id}}</a>
              {{else}}
                {{external_reference.external_id}}
              {{/if}}
            {{/each}}
        {{/if}}
        </p>
      </div>
    </div>
{{!--
<div class="row">
  <div class="col s6">   
    <a class="btn waves-effect waves-light" a href="/cti-stix-store/bundles/attack-patterns/{{model.item.id}}" download ="{{model.item.id}}.json" target="_blank" >
      Download
    </a>
  </div>
</div>
--}}
    {{/md-card-content}}
{{/md-card}}
<div class="right-align grey-text">{{model.item.id}}</div>

<h4>Relationships</h4>
{{#each model.targetRelationshipObjects as |relatedObject|}}
  <p>
    <div class="chip">{{relatedObject.type}}</div>
    {{#link-to relatedObject.type relatedObject.id}}
      {{relatedObject.name}}
    {{/link-to}}
  </p>
{{/each}}

{{#each model.sourceRelationshipObjects as |relatedObject|}}
  <p>
    <div class="chip">{{relatedObject.type}}</div>
    {{#link-to relatedObject.type relatedObject.id}}
      {{relatedObject.name}}
    {{/link-to}}
  </p>
{{/each}}

</div>