<div class="container">
{{help-card help=model.help}}
<h4>
  <i class="material-icons">share</i>
  Relationship
</h4>

{{#md-card id=model.item.id}}
    {{#md-card-content}}

    <div class="row">
      <div class="col s5">
        {{#link-to model.source.type model.source.id}}
          {{model.source.name}}
        {{/link-to}}
        <div>
          <span class="chip">{{model.source.type}}</span>
        </div>
      </div>
      <div class="col s2 center-align">
        <strong>{{model.item.relationship_type}}</strong>
      </div>
      <div class="col s5 right-align">
        {{#link-to model.target.type model.target.id}}
          {{model.target.name}}
        {{/link-to}}
        <div>
          <span class="chip">{{model.target.type}}</span>
        </div>
      </div>
    </div>
{{!--
<div class="row">
  <div class="col s6">   
    <a class="btn waves-effect waves-light" a href="/cti-stix-store/bundles/relationships/{{model.item.id}}" download ="{{model.item.id}}.json" target="_blank">
      Download 
    </a>
  </div>
</div>
--}}
    {{/md-card-content}}
{{/md-card}}
<div class="right-align grey-text">{{model.item.id}}</div>

</div>